<%= semantic_form_for [:admin, @gallery], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors :state %>
  <%= f.inputs do %>
    <%= f.input :title, label: 'Назва' %>
    <div class="photo-inputs">
      <legend class="label"><label>Фото</label></legend>
      <p>
        <input type="file" name="gallery[photo]" class="gallery-photo"><br><br>
      </p>
    </div>
     <br>
    <%= link_to 'Додати фото', '#', class: 'add_another_photo_btn' %>
    <%= f.input :admin_user_id, as: :hidden %>
  <% end %>
  <%= f.actions %>
<% end %>