<div class="announcements">
  <% @announcements.each do |announcement| %>
      <div class="row announcement">
        <p class="announcement-category">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <%= link_to announcement.category.name, announcement.category %>
        </p>
        <h2 class="announcement-title"><%= link_to announcement.title, announcement %></h2>
        <div class="announcement-body"><%= truncate(announcement.body.html_safe, length: 300, escape: false) %></div>
        <p class="announcement-author">
          <i class="fa fa-user" aria-hidden="true"></i><%= announcement.admin_user.name %>
        </p>
        <p class="announcement-created-date">
          <i class="fa fa-clock-o" aria-hidden="true"></i><%= l announcement.created_at, format: :short %>
        </p>
      </div>
  <% end %>
</div>