<section class="top-slider">
  <article class="content">
    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery34" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
      <div id="rev_slider_34_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>  <!-- SLIDE  -->
          <% @announcements.static.each_with_index do |announcement, index| %>

              <li data-index="rs-129-<%= index %>"
                  data-transition="parallaxvertical"
                  data-slotamount="default"
                  data-easein="default"
                  data-easeout="default"
                  data-masterspeed="default"
                  data-thumb="../../assets/images/newscarousel1-100x50.jpg"
                  data-rotate="0"
                  data-fstransition="fade"
                  data-fsmasterspeed="1500"
                  data-fsslotamount="7"
                  data-saveperformance="off"
                  data-title=""
                  data-description="">
                <!-- MAIN IMAGE -->
                <%= image_tag(announcement.main_image,
                              alt: '',
                              'data-bgposition' => 'center center',
                              'data-bgfit' => 'cover',
                              'data-bgrepeat' => 'no-repeat',
                              'data-bgparallax' => '10',
                              class: 'rev-slidebg') %>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div
                id="slide-129-layer-3-<%= index %>"
                class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-0"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                data-width="full"
                data-height="full"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                data-start="1000"
                data-basealign="slide"
                data-responsive_offset="on"
                style="z-index: 5; background-color:rgba(0, 0, 0, 0.35); border-color:rgba(0, 0, 0, 1.00);">
                </div>
                <!-- LAYER NR. 2 -->
                <div
                id="slide-129-layer-1-<%= index %>"
                class="tp-caption announcement-body tp-resizeme rs-parallaxlevel-0"
                data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                data-y="['top','top','top','top']" data-voffset="['250','250','250','250']"
                data-fontsize="25"
                data-lineheight="25"
                data-width="['600','600','600','420']"
                data-height="none"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                data-start="1000"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                style="z-index: 6; white-space: normal;">
                </div>
                <!-- LAYER NR. 3 -->
                <div
                id="slide-129-layer-2-<%= index %>"
                class="tp-caption announcement-title tp-resizeme rs-parallaxlevel-0"
                data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                data-whitespace="normal"
                data-width="['600','600','600','550']"
                data-transform_idle="o:1;"
                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                data-start="1000"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                style="z-index: 7"><%= announcement.title %>
                </div>
                <!-- LAYER NR. 4 -->
                <div
                id="slide-129-layer-5-<%= index %>"
                class="tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0"
                data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                data-y="['top','top','top','top']" data-voffset="['361','331','301','245']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                data-mask_in="x:0px;y:0px;"
                data-mask_out="x:0;y:0;"
                data-start="1000"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                data-responsive="off"
                onclick="location.href='<%= announcement_path(announcement) %>'"
                style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">ДІЗНАТИСЯ
                  БІЛЬШЕ
                </div>
              </li>
          <% end %>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);"></div>
      </div>
    </div><!-- END REVOLUTION SLIDER -->
  </article>
</section>


