<div class="col-md-7">
  <%= render 'slider' if @announcements.static.any? %>
  <%= if @banners[:top].present?
        image_url = image_tag @banners[:top].image.url, class: 'banner-top'
        if not @banners[:top].url.empty?
          link_to image_url, @banners[:top].url, target: :_blank
        else
          image_url
        end
      end
  %>
  <%= render 'top_announcements', title: 'Популярні публікації' %>

  <%= if @banners[:bottom].present?
        image_url = image_tag @banners[:bottom].image.url, class: 'banner-bottom'
        if not @banners[:bottom].url.empty?
          link_to image_url, @banners[:bottom].url, target: :_blank
        else
          image_url
        end
      end
  %>

  <h2 class="section-header">
    <span>Фотогалерея міста на "Че"</span>
  </h2>

</div>
<div class="col-md-3">
  <% @announcements = Announcement.announcements_feed.order(:published_at).limit(4) %>
  <%= render 'shared/right_bar/publications', title: 'Публікації' %>
  <%= link_to 'Всі новини', announcements_path %>
  <%= render 'shared/right_bar/banner'%>
  <%= render 'shared/right_bar/facebook', link: 'https://www.facebook.com/mistoche' %>
</div>
