<section class="top-slider">
  <article class="content">
    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery34" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
      <div id="rev_slider_34_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>  <!-- SLIDE  -->
          <% @announcements.limit(5).each_with_index do |announcement, index| %>
              <li data-index="rs-129-<%= index %>"
                  data-transition="parallaxvertical"
                  data-slotamount="default"
                  data-easein="default"
                  data-easeout="default"
                  data-masterspeed="default"
                  data-thumb="../../assets/images/newscarousel1-100x50.jpg"
                  data-rotate="0"
                  data-fstransition="fade"
                  data-fsmasterspeed="1500"
                  data-fsslotamount="7"
                  data-saveperformance="off"
                  data-title="<%= announcement.title %>"
                  data-description="<%= truncate(announcement.body, length: 50, escape: false) %>">
                <!-- MAIN IMAGE -->
                <%= image_tag(announcement.main_image,
                              alt: '',
                              'data-bgposition' => 'center center',
                              'data-bgfit' => 'cover',
                              'data-bgrepeat' => 'no-repeat',
                              'data-bgparallax' => '10',
                              class: 'rev-slidebg') %>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                     id="slide-129-layer-3-<%= index %>"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                     data-width="full"
                     data-height="full"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-start="1000"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 5; background-color:rgba(0, 0, 0, 0.35); border-color:rgba(0, 0, 0, 1.00);">
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption announcement-body tp-resizeme rs-parallaxlevel-0"
                     id="slide-129-layer-1-<%= index %>"
                     data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                     data-y="['top','top','top','top']" data-voffset="['250','250','250','250']"
                     data-fontsize="25"
                     data-lineheight="25"
                     data-width="['600','600','600','420']"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: normal;"><%= truncate(announcement.body, length: 100, escape: false) %>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption announcement-title tp-resizeme rs-parallaxlevel-0"
                     id="slide-129-layer-2-<%= index %>"
                     data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                     data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                     data-whitespace="normal"
                     data-width="['600','600','600','550']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 7"><%= truncate(announcement.title, length: 25) %>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0"
                     id="slide-129-layer-5-<%= index %>"
                     data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                     data-y="['top','top','top','top']" data-voffset="['361','331','301','245']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:0px;y:0px;"
                     data-mask_out="x:0;y:0;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-responsive="off"
                     onclick="location.href='<%= announcement_path(announcement) %>'"
                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">ДІЗНАТИСЯ
                  БІЛЬШЕ
                </div>
              </li>
          <% end %>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);"></div>
      </div>
    </div><!-- END REVOLUTION SLIDER -->
  </article>
</section>
<%= if @banners[:top].present?
      image_url = image_tag @banners[:top].image.url, class: 'banner-top'
      if not @banners[:top].url.empty?
        link_to image_url, @banners[:top].url
      else
        image_url
      end
    end
%>
<section class="row announcements">
  <div class="col-lg-12">
    <h5 class="section-header">
      <span>Популярні публікації</span>
    </h5>
  </div>
  <% @announcements.each do |announcement| %>
      <div class="col-lg-6 announcement">
        <div class="announcement-image">
          <%= link_to image_tag(announcement.main_image.url(:large)), announcement %>
        </div>
        <h2 class="announcement-title"><%= link_to announcement.title, announcement %></h2>
        <div class="announcement-body"><%= truncate(announcement.body.html_safe, length: 300, escape: false) %></div>
        <span class="announcement-author">
          <i class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;</i><%= announcement.admin_user.name %></span>
        <span class="announcement-category">
          <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;<%= link_to announcement.category.name, announcement.category %>
        </span>
        <span class="announcement-date">
          <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= l announcement.created_at, format: :short %>
        </span>
      </div>
  <% end %>
</section>

<%= if @banners[:bottom].present?
      image_url = image_tag @banners[:bottom].image.url, class: 'banner-bottom'
      if not @banners[:bottom].url.empty?
        link_to image_url, @banners[:bottom].url
      else
        image_url
      end
    end
%>

<% if @gallery.present? and not @gallery.photo.empty? %>
    <section class="galleries-slider">
      <h2 class="section-header">
        <span>Фотогалерея міста на "Че"</span>
      </h2>
      <div class="carousel-slider">
        <% @gallery.photo.each do |gallery| %>
            <a href="<%= gallery %>" rel="gallery<%= @gallery.id %>" class="fancybox slider-image">
              <%= image_tag gallery.url(:medium) %>
            </a>
        <% end %>
      </div>
    </section>
<% end %>