<% provide(:title, 'Кіношот') %>
  <div class="col-md-7">
    <div class="go-title">
      <h1 class="go-title">Черкаський фестиваль короткометражного кіно "КіноШот"</h1>
    </div>

    <% if @announcements.any? %>
        <%= render 'slider' %>
    <% end %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8 kinoshot-announcements">

      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="kinoshot-container">
      <div class="kinoshot-logo"></div>
      <div class="kinofest-text">
        <p>– це мистецький захід для творчого спілкування,
          обміну креативними ідеями та досвідом між молодими українськими режисерами і
          визначними фахівцями галузі кінематографа, продюсерами та акторами не лише України,
          а й зарубіжжя. "КіноШот" – це майданчик для налагодження зав’язків, пошуку нових
          контактів та зародження нових культурно-мистецьких проектів.
        </p>
        <p>
          Це – унікальний проект, що перетворює Черкаси на привабливе, культурне та інтелігентне місто,
          забезпечуючи для самих черкасців і гостей міста три насичені дні
          кіно просто неба на березі Дніпра, у мальовничій <%= link_to 'Долині Троянд', 'https://mistoche.org.ua/announcements/27-dolina-troyand' %>
        </p>
      </div>
      <hr class="text-divider">
      <div class="col-lg-6 kinishot-links">
        <p class="pro-fest-title">КОРИСНІ ЛІНКИ</p>

        <% if @banners[:kinoshot].present? %>
            <%  @banners[:kinoshot].each do |banner| %>
             <% image_url = image_tag banner.image.url, class:'img-responsive' %>
            <%  if not banner.url.empty? %>
            <%=    link_to image_url, banner.url %>
            <%  else %>
              <%=  image_url %>
              <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="col-lg-6">
        <div class="pro-fest">
          <p class="pro-fest-title">ПРО ФЕСТ</p>
          <p class="pro-fest-text">
            До уваги відвідувачів заходу "КіноШот" запропонує дві конкурсні програми:
            національних короткометражних фільмів та міжнародних фільмів у цьому жанрі.
            Водночас фестиваль покаже позаконкурсну програму фільмів, які, на думку організаторів та журі,
            заслуговують на увагу. Фільми-учасники конкурсної програми змагатимуться у таких номінаціях:

          </p>
          <p class="nominations">"Кращий український короткометражний ігровий фільм";</p>
          <p class="nominations">"Кращий український короткометражний анімаційний фільм";</p>
          <p class="nominations">"Кращий зарубіжний короткометражний ігровий фільм".</p>
          <p class="nominations">"Приз глядацьких симпатій".</p>
        </div>
        <br><br>
        <div class="pozakonkursna-programa">
          <p class="pro-fest-text">
            Програма Черкаського фестивалю короткометражних фільмів розрахована
            на три насичені дні, які, окрім перегляду конкурсної та позаконкурсної програм,
            умістять у собі зустрічі із видатними діячами мистецтва та кіно та відвідини цікавих лекцій на відповідні теми.
          </p>
        </div>
        <br>
      </div>
    <div class="col-md-12"><hr class="text-divider"></div>
      <% @teams.each do |team| %>

          <div class="row team">
            <div class="col-md-12">
              <h2 class="title"><%= KinoshotCategory.find_by_num_of_place(team[0]).name %></h2>
              <% team[1].each_with_index do |person, index| %>
                  <%= raw('<div class="row">') if index % 4 == 0 %>
                  <div class="col-xs-4  col-md-3">
                    <div class="photo">
                      <%= link_to image_tag(person.photo_url(:small)), persons_path(person),
                                  {remote: true, class: 'event-poster', 'data-toggle' =>  'modal', 'data-target' => '#modal-window'} %>
                    </div>
                    <div class="name">
                      <h5><%= person.name %></h5>
                    </div>
                  </div>
                  <%= raw('</div>') if index % 4 == 3 || index == team[1].count-1 %>
              <% end %>
            </div>
          </div>
          <hr>
      <% end %>
    </div>
  </div>

<div class="col-md-3">
  <% @announcements = Announcement.kinoshot_feed.order(:published_at).limit(4) %>
  <%= render 'shared/right_bar/publications', title: 'Новини Кіношоту' %>
  <%= link_to 'Всі новини Кіношоту', kinoshot_announcements_path %>
  <%= render 'shared/right_bar/banner' %>
  <%= render 'shared/right_bar/facebook', link: 'https://www.facebook.com/kinoshotfest' %>
  <%= render 'shared/right_bar/second_banner' %>
</div>