<div class="col-lg-7">
  <%= render 'slider' %>
  <% @teams.each do |team| %>
    <div class="row team">
      <div class="col-md-12">
        <h2 class="title"><%= team[0] %></h2>
        <% team[1].each_with_index do |person, index| %>
            <%= raw('<div class="row">') if index % 3 == 0 %>
            <div class="col-md-4">
              <div class="photo">
                <%= link_to image_tag(person.photo_url(:small)), persons_url(person),
                            {remote: true, class: 'event-poster', 'data-toggle' =>  'modal', 'data-target' => '#modal-window'} %>
              </div>
              <div class="name">
                <h5><%= person.name %></h5>
              </div>
            </div>
            <%= raw('</div>') if index % 3 == 2 || index == team[1].count-1 %>
        <% end %>
      </div>
    </div>
      <hr>
  <% end %>



</div>
<div class="col-lg-3">
  <%= render 'shared/right_bar/publications', title: 'ПУБЛІКАЦІЇ ГО' %>
  <%= link_to 'Всі новини ГО', go_announcements_path %>
  <%= render 'shared/right_bar/banner' %>
  <%= render 'shared/right_bar/facebook' %>
</div>