<% provide(:title, 'Афіша') %>

<div class="col-md-7">
  <div class="row events">
    <%= render @events %>
  </div>
  <%= will_paginate @events %>
</div>
<div class="col-md-3">
  <%= render 'event_controls' %>
  <%= render 'shared/right_bar/banner' %>
  <%= render 'shared/right_bar/facebook', link: 'https://www.facebook.com/mistoche'  %>
</div>