<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to '', root_path, class: 'logo' %>
        <span class="copyright">© 2015 - 2017, Місто на “Че”. Використання матеріалів порталу лише за умови посилання (для інтернет-видань - гіперпосилання) на Місто на “Че”.</span>
      </div>
      <div class="col-md-3">
        Засновник проекту: ГО "Місто на "Че"<br><br>
        Авторський колектив: <br>
        Головний редактор: <br>
        Редактор-засновник: <%= link_to 'Ярослав Лавров','https://www.facebook.com/yaroslav80', target: '_blank' %> <br>
        Журналісти: <%= link_to 'Ольга Квятковська', 'https://www.facebook.com/olya.kvyatkovska.3', target: '_blank' %><br>
        <%= link_to 'Ольга Пузенко', 'https://www.facebook.com/lyo1ya', target: '_blank' %><br>
        Фотокореспондент: <%= link_to 'Олександр Рибалка','https://www.facebook.com/aleksandr.rybalka.9', target: '_blank' %><br>
        Блогери: <%= link_to 'Сергій Костенко', 'https://www.facebook.com/woland61', target: '_blank'%><br>
        <%= link_to 'Павло Задніпряний','https://www.facebook.com/pavlo.zadnipryanyy', target: '_blank' %> <br>
        E-mail редакції: info@mistoche.org.ua <br>
      </div>
      <div class="col-md-3">
        Розробка проекту: <br>
        Юрій Цибровський <br>
        Олексій Закружецький <br>
        Денис Цимбаленко <br>
        Олег Пасько <br>
        Богдан Сорока
      </div>
      <div class="col-md-3">
        Ми у Facebook: <br>
        <%= link_to 'Події, життя, історія "Місто на "Че"', 'https://www.facebook.com/mistoche/', target: '_blank' %><br><br>
        <%= link_to 'Асоціація громадських ініціатив "Місто на "Че"', 'https://www.facebook.com/agimistonache/',
                    target: '_blank' %>
      </div>
    </div>
  </div>
</footer>