<!DOCTYPE html>
<html>
  <head>
    <title>Misto-na-4e</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fb-root"></div>
    <div class="background">
      <div class="wrapper">
        <div id="header">
          <div class="social-header">
            <p><%= l Time.zone.now.to_date, format: :header %></p>
            <p class="dot"><i class="fa fa-circle" aria-hidden="true"></i></p>
            <p class="weather">
              <% weather.each do |parameter| %>
                <span class="icon"><%= parameter %></span>
              <% end %>
              &deg;C
            </p>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/mistoche" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="divider"></div>
          <div class="logo"><%= link_to '', root_path %></div>
          <iframe width="320" height="180" src="https://www.youtube.com/embed/5t-zraYIjOQ?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
          <div class="divider-nav"></div>
          <ul class="nav">
            <li><%= link_to 'Новини', announcements_path %></li>
            <li class="nav-divider">//</li>
            <li><a href="#">Для гостей</a></li>
            <li class="nav-divider">//</li>
            <li><a href="#">Афіша</a></li>
            <li class="nav-divider">//</li>
            <li><a href="#">Наша команда</a></li>
            <li class="nav-divider">//</li>
            <li><a href="#">КіноШот</a></li>
            <li class="nav-divider">//</li>
            <li><a href="#">МАТ</a></li>
            <li class="nav-divider">//</li>
            <li><a href="#">Медіа</a></li>
            <li class="nav-divider">//</li>
          </ul>
          <div class="search">
            <input type="text" placeholder="Пошук...">
            <button>
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
          <div class="solid-divider"></div>
        </div>
        <div id="content" class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="col-lg-4">
                <h5 class="column-header">
                  <span>Стрічка Новин</span>
                </h5>
                <div class="novelties">
                  <ul>
                    <li class="novelty">
                      <h5 class="novelty-title">
                        <a href="#">1 лютого відбудеться засідання архітектурно-будівельної ради</a>
                      </h5>
                      <span class="novelty-source">(procherk.info)</span>
                    </li>
                    <li class="novelty">
                      <h5 class="novelty-title">
                        <a href="#">1 лютого відбудеться засідання архітектурно-будівельної ради</a>
                      </h5>
                      <span class="novelty-source">(procherk.info)</span>
                    </li>
                    <li class="novelty">
                      <h5 class="novelty-title">
                        <a href="#">1 лютого відбудеться засідання архітектурно-будівельної ради</a>
                      </h5>
                      <span class="novelty-source">(procherk.info)</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-8"></div>
            </div>
            <div class="col-lg-4">
              <h5 class="column-header">
                <span>Публікації</span>
              </h5>
            </div>
          </div>
        </div>
        <!--<div id="footer">-->
          <!--<p class="copyright">&copy; Місто на [ЧЕ]</p>-->
        <!--</div>-->
      </div>
    </div>
  </body>
</html>
