<!DOCTYPE html>
<html>
  <head>
    <title>Mistonache</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div class="social-header">
        <p><%= l DateTime.now, format: :header %></p>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/mistoche" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="logo"><%= link_to '', root_path %></div>
      <div class="divider-nav"></div>
      <ul class="nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
        <li><a href="#">Menu 5</a></li>
      </ul>
    </div>
    <div class="col-25">
      <ul>
        <% @novelties.take(10).each do |novelty| %>
            <li><a href="<%= novelty.url %>" target="_blank"><%= novelty.title %></a><span>(<%= novelty.source %>)</span></li>
            <hr>
        <% end %>
      </ul>
    </div>
    <div class="col-50">
      <%= yield %>
    </div>
    <div class="col-25"></div>
  </body>
</html>
