<!DOCTYPE html>
<html>
  <head>
    <title>Mistonache</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div class="logo"><%= link_to 'Misto-na-4e', root_path %></div>
      <ul class="nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
        <li><a href="#">Menu 5</a></li>
      </ul>
    </div>
    <div class="col-3">
      <ul>
        <% @novelties.limit(10).each do |novelty| %>
            <li><%= link_to novelty.title, novelty %> <span>(<%= novelty.source %>)</span></li>
            <hr>
        <% end %>
      </ul>
    </div>
    <div class="col-3">
      <%= yield %>
    </div>
    <div class="col-3"></div>
  </body>
</html>
